<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         point="org.knime.workbench.repository.nodes">
        <node
              category-path="/community/knip/javacv"
              expert-flag="false"
              factory-class="org.knime.knip.javacv.nodes.io.webcam.WebCamIONodeFactory"
              id="org.knime.knip.javacv.nodes.io.webcam.WebCamIONodeFactory">
        </node>
        <node
              category-path="/community/knip/javacv"
              expert-flag="false"
              factory-class="org.knime.knip.javacv.nodes.haardetector.HaarDetectorNodeFactory"
              id="org.knime.knip.javacv.nodes.haardetector.HaarDetectorNodeFactory">
        </node>
        <node
              category-path="/community/knip/javacv"
              expert-flag="false"
              factory-class="org.knime.knip.javacv.nodes.bittracker.BitTrackerNodeFactory"
              id="org.knime.knip.javacv.nodes.bittracker.BitTrackerNodeFactory">
        </node>
        <node
              category-path="/community/knip/javacv"
              expert-flag="false"
              factory-class="org.knime.knip.javacv.nodes.hsvthresholder.HSVThresholderNodeFactory"
              id="org.knime.knip.javacv.nodes.hsvthresholder.HSVThresholderNodeFactory">
        </node>
        <node
              category-path="/community/knip/javacv"
              expert-flag="false"
              factory-class="org.knime.knip.javacv.nodes.contour.ContourDetectorNodeFactory"
              id="org.knime.knip.javacv.nodes.gaussian.GaussianNodeFactory">
        </node>
        <node
              category-path="/community/knip/javacv"
              expert-flag="false"
              factory-class="org.knime.knip.javacv.nodes.greyConverter.GreyConverterNodeFactory"
              id="org.knime.knip.javacv.nodes.greyConverter.GreyConverterNodeFactory">
        </node>
        <node
              category-path="/community/knip/javacv"
              expert-flag="false"
              factory-class="org.knime.knip.javacv.nodes.contour.ContourDetectorNodeFactory"
              id="org.knime.knip.javacv.nodes.gaussian.ContourDetectorNodeFactory">
        </node>
        <node
              expert-flag="false"
              factory-class="org.knime.knip.javacv.nodes.bypass.ByPassNodeFactory"
              id="org.knime.knip.javacv.nodes.bypass.ByPassNodeFactory">
        </node>
        <node
              expert-flag="false"
              factory-class="org.knime.knip.javacv.nodes.testio.TestIONodeFactory"
              id="org.knime.knip.javacv.nodes.testio.TestIONodeFactory">
        </node>
     </extension>
     <extension
           point="org.knime.workbench.repository.categories">
        <category
              description="JavaCV integration"
              icon="icons/missing.gif"
              level-id="javacv"
              name="JavaCV Integration"
              path="/community/knip">
        </category>
     </extension>
</plugin>
