<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
	<extension point="org.knime.workbench.repository.nodes">
		<node expert-flag="false" factory-class="org.knime.knip.javacv.nodes.testio.TestIONodeFactory" id="org.knime.knip.javacv.nodes.testio.TestIONodeFactory" />
		<node category-path="/" factory-class="org.knime.knip.javacv.nodes.features.surf.JavaCVSurfNodeFactory" id="org.knime.knip.javacv.nodes.features.surf.JavaCVSurfNodeFactory"/>
	</extension>
	<extension point="org.knime.workbench.repository.categories">
		<category description="JavaCV integration" icon="icons/default.png" level-id="javacv" name="JavaCV Integration" path="/community/knip" />
	</extension>
</plugin>
